.music{
  background-color: palevioletred;
}

.Navigation {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  background-color: magenta;

  @media (min-width: 700px) {
    flex-direction: row;
  }
}